.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-bold {
  font-weight: bold;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'DIN', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #000;
  background: #fff;
  letter-spacing: 1px;
  min-width: 320px;
}
input,
button,
a {
  outline: none;
}
a {
  color: #000;
}
img {
  max-width: 100%;
  min-height: 1px;
}
@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN-Regular.eot');
  src: url('../fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DIN-Regular.woff2') format('woff2'), url('../fonts/DIN-Regular.woff') format('woff'), url('../fonts/DIN-Regular.ttf') format('truetype'), url('../fonts/DIN-Regular.svg#DIN-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sprite {
  background-image: url('images/spritesheet.png');
  background-repeat: no-repeat;
  display: inline-block;
}
.sprite-erno {
  width: 76px;
  height: 60px;
  background-position: -5px -5px;
}
.sprite-eurobeauty {
  width: 182px;
  height: 50px;
  background-position: -91px -5px;
}
.sprite-flag-blue-bg {
  width: 220px;
  height: 220px;
  background-position: -283px -5px;
}
.sprite-globus {
  width: 40px;
  height: 49px;
  background-position: -513px -5px;
}
.sprite-glycel {
  width: 121px;
  height: 37px;
  background-position: -5px -235px;
}
.sprite-h2o {
  width: 83px;
  height: 50px;
  background-position: -513px -64px;
}
.sprite-handshake-blue-bg {
  width: 220px;
  height: 220px;
  background-position: -136px -235px;
}
.sprite-home {
  width: 48px;
  height: 40px;
  background-position: -563px -5px;
}
.sprite-info-blue-bg {
  width: 221px;
  height: 220px;
  background-position: -366px -235px;
}
.sprite-oasis-beauty {
  width: 104px;
  height: 55px;
  background-position: -5px -124px;
}
.sprite-oasis-florist {
  width: 120px;
  height: 58px;
  background-position: -5px -465px;
}
.sprite-oasis-homme {
  width: 109px;
  height: 47px;
  background-position: -135px -465px;
}
.sprite-oasis-md {
  width: 335px;
  height: 257px;
  background-position: -621px -5px;
}
.sprite-oasis-medical {
  width: 124px;
  height: 45px;
  background-position: -597px -272px;
}
.sprite-oasis-sm {
  width: 131px;
  height: 88px;
  background-position: -731px -272px;
}
.sprite-oasis-spa {
  width: 95px;
  height: 55px;
  background-position: -5px -370px;
}
.sprite-trio-blue-bg {
  width: 220px;
  height: 220px;
  background-position: -597px -370px;
}
.padding-lr-30 {
  padding: 0 30px;
}
.padding-lr-50 {
  padding: 0 50px;
}
.padding-lr-80 {
  padding: 0 80px;
}
.padding-lr-110 {
  padding: 0 110px;
}
.main {
  max-width: 100%;
  overflow: hidden;
}
body.no-scroll {
  overflow: hidden;
}
.button {
  display: inline-block;
  font-size: 14px;
  color: #0090d2;
  text-align: center;
  padding: 15px 48px;
  border: 1px solid #000;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #eee;
  text-decoration: none;
}
.banner__wrap img {
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1280px !important;
  }
}
@media screen and (max-width: 1200px) {
  .padding-lr-30 {
    padding: 0 15px;
  }
  .padding-lr-50 {
    padding: 0 25px;
  }
  .padding-lr-80 {
    padding: 0 40px;
  }
  .padding-lr-110 {
    padding: 0 70px;
  }
}
@media screen and (max-width: 992px) {
  .padding-lr-30 {
    padding: 0;
  }
  .padding-lr-50 {
    padding: 0;
  }
  .padding-lr-80 {
    padding: 0;
  }
  .padding-lr-110 {
    padding: 0 40px;
  }
  .button {
    font-size: 12px;
    padding: 12px 45px;
  }
}
@media screen and (max-width: 768px) {
  .padding-lr-110 {
    padding: 0;
  }
}
h1,
.h1 {
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 700;
}
h2,
.h2 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
}
h3,
.h3 {
  font-size: 16px;
  letter-spacing: 1px;
}
.section__heading {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 500;
}
.section__heading:before {
  display: block;
  content: '';
  width: 72px;
  height: 2px;
  position: absolute;
  top: -15px;
  left: 15px;
}
.section__heading.section__heading--blue {
  color: #000;
}
.section__heading.section__heading--blue:before {
  background-color: #0090d2;
}
.section__heading.section__heading--white {
  color: #fff;
}
.section__heading.section__heading--white:before {
  background-color: #fff;
}
.section__content {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
  letter-spacing: 1.3px;
}
.section__content--light {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 25px;
  letter-spacing: 1.3px;
}
.heading__highlight-center {
  position: relative;
}
.heading__highlight-center:before {
  display: block;
  content: '';
  background-color: #0090d2;
  width: 72px;
  height: 2px;
  position: absolute;
  top: -15px;
  left: 0px;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 992px) {
  h1,
  .h1 {
    font-size: 18px;
  }
  h2,
  .h2 {
    font-size: 14px;
  }
  h3,
  .h3 {
    font-size: 15px;
  }
  .section__heading {
    font-size: 18px;
  }
  .section__heading:before {
    width: 57px;
  }
  .section__content,
  .section__content--light {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
#header {
  height: 121px;
  padding-top: 16px;
  margin-bottom: 20px;
}
.header__inner .container {
  position: relative;
}
.header__lang {
  text-align: right;
  font-size: 14px;
}
.header__lang-choice {
  text-transform: uppercase;
  display: inline-block;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__lang-choice:hover,
.header__lang-choice:focus,
.header__lang-choice:active {
  color: #0090d2;
  text-decoration: none;
}
.header__lang-choice-1 {
  margin-right: 9px;
}
.header__lang-choice-1:after {
  display: inline-block;
  content: '/';
  color: #000;
  font-size: 15px;
  margin-left: 9px;
}
.logo {
  display: block;
  background: url("images/general-icons/logo.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 360px;
  height: 54px;
}
.header__nav {
  height: 45px;
  -webkit-transition: 0.3s transform ease;
  -o-transition: 0.3s transform ease;
  transition: 0.3s transform ease;
}
.header__nav-list {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.header__nav-item {
  margin-left: 45px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: inline-block;
  list-style: none;
}
.header__nav-item:hover .header__nav-link,
.header__nav-item:focus .header__nav-link,
.header__nav-item:active .header__nav-link {
  color: #0090d2;
}
.header__nav-item.active .header__nav-link {
  color: #0090d2;
}
.header__nav-link {
  color: #000;
  font-size: 15px;
  padding: 8px 0;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active {
  text-decoration: none;
}
#header-mob__btn {
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 15px;
  z-index: 51;
  display: none;
}
#header-mob__btn span {
  width: 30px;
  height: 2px;
  background-color: rgba(51, 51, 51, 0.65);
  display: block;
  margin: 5px auto;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#header-mob__btn:hover span,
#header-mob__btn:focus span {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#header-mob__btn.active span:nth-child(2) {
  opacity: 0;
}
#header-mob__btn.active span:nth-child(1) {
  -webkit-transform: translateY(0px) rotate(45deg);
  -ms-transform: translateY(0px) rotate(45deg);
  -o-transform: translateY(0px) rotate(45deg);
  transform: translateY(0px) rotate(45deg);
}
#header-mob__btn.active span:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
@media screen and (max-width: 1200px) {
  .header__nav-item {
    margin-left: 25px;
  }
}
@media screen and (max-width: 992px) {
  #header {
    height: 90px;
    margin-bottom: 16px;
  }
  #header-mob__btn {
    display: block;
  }
  .header__nav {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    padding: 72px 0;
    margin-top: -16px;
    -webkit-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    -o-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
  }
  .header__nav.header__nav-open {
    opacity: 1;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
    background-color: rgba(238, 238, 238, 0.94);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .header__nav.header__nav-open .header__nav-list {
    width: 100%;
    height: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__nav-list {
    width: 100%;
    height: 70%;
  }
}
@media screen and (max-width: 580px) {
  #header {
    height: 79px;
  }
  .logo {
    width: 299px;
    height: 42px;
  }
  #header-mob__btn {
    top: 28px;
  }
}
@media screen and (max-width: 420px) {
  .logo {
    width: 238px;
    height: 43px;
  }
  #header-mob__btn {
    top: 29px;
  }
}
.slick__slider .slick-dots {
  bottom: -40px;
}
.slick__slider .slick-dots li.slick-active button {
  background-color: #0090d2;
}
.slick__slider .slick-dots button {
  background-color: #949494;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.slick__slider .slick-dots button:before {
  display: none;
}
.slick__slider .slick-arrow {
  width: 30px;
  height: 54px;
  padding: 25px;
  /* Arrow size */
  margin: auto 0;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  box-shadow: 1px -1px 0 1px white inset;
  -webkit-box-shadow: 2px -2px white inset;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  z-index: 50;
  top: 0;
  bottom: 0;
}
.slick__slider .slick-arrow:before {
  display: none;
}
.slick__slider .slick-arrow.slick-prev {
  left: 25px;
  -webkit-transform: rotate(45deg) scale(0.8);
  transform: rotate(45deg) scale(0.8);
}
.slick__slider .slick-arrow.slick-prev:hover {
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}
.slick__slider .slick-arrow.slick-next {
  right: 25px;
  -webkit-transform: rotate(225deg) scale(0.8);
  transform: rotate(225deg) scale(0.8);
}
.slick__slider .slick-arrow.slick-next:hover {
  -webkit-transform: rotate(225deg) scale(1);
  transform: rotate(225deg) scale(1);
}
.slick__item {
  outline: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-family: 'DIN', sans-serif !important;
}
.homepage__slider {
  margin-bottom: 100px !important;
}
.homepage__slider img {
  width: 100%;
}
.corporate__slider {
  margin-top: 5px;
  margin-bottom: 100px !important;
}
.corporate__slider .slick__item {
  padding: 0 20px;
  position: relative;
}
.corporate__slider-content-wrap {
  position: absolute;
  right: 40px;
  bottom: 70px;
  line-height: 1.5;
  max-width: 395px;
  z-index: 10;
}
.corporate__slider-content-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 30px;
}
.corporate__slider-content {
  font-weight: 300;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .corporate__slider .slick__item {
    max-width: 100vw;
    padding: 0 10px;
  }
  .corporate__slider-content-wrap {
    max-width: 342px;
    right: 35px;
    bottom: 47px;
  }
  .corporate__slider-content-title {
    font-size: 40px;
  }
  .corporate__slider-content {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .homepage__slider {
    margin-bottom: 70px !important;
  }
  .corporate__slider .slick__item {
    overflow: hidden;
  }
  .slick__slider .slick-arrow {
    height: 35px;
    padding: 15px;
    border-width: 0 0 1rem 1rem;
  }
  .slick__slider .slick-arrow.slick-next {
    right: 15px;
  }
  .slick__slider .slick-arrow.slick-prev {
    left: 15px;
  }
  .corporate__slider-content-wrap {
    max-width: 234px;
    right: 25px;
    bottom: 32px;
    overflow: hidden;
  }
  .corporate__slider-content-title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .corporate__slider-content {
    font-size: 12px;
  }
}
@media screen and (max-width: 580px) {
  .corporate__slider-content-wrap {
    max-width: 209px;
    bottom: 10px;
  }
  .corporate__slider-content-title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .corporate__slider-content {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .corporate__slider-content-wrap {
    max-width: 201px;
    bottom: 10px;
    right: 5px;
  }
  .corporate__slider-content-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .corporate__slider-content {
    font-size: 11px;
  }
}
@media screen and (max-width: 420px) {
  .corporate__slider-content-wrap {
    display: none;
  }
}
.category-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #adadad;
  height: 80px;
  margin: 0;
  padding: 0;
}
.category-item {
  list-style: none;
  margin: 0px 65px 0px 65px;
}
.category-link {
  font-size: 14px;
  color: #0090d2;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.category-link:hover,
.category-link:active,
.category-link:focus {
  text-decoration: none;
  color: #0090d2;
}
.category-icon {
  display: inline-block;
  margin-right: 15px;
  vertical-align: bottom;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.category-icon-1 {
  background: url("images/about-us/icon-1.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 48px;
  height: 48px;
}
.category-icon-2 {
  background: url("images/about-us/icon-2.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 48px;
  height: 48px;
}
.category-icon-3 {
  background: url("images/about-us/icon-3.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 86px;
  height: 48px;
  margin-top: 3px;
}
.category-link__content {
  display: inline-block;
  vertical-align: bottom;
}
.category-link__content-3 {
  margin-bottom: 3px;
}
@media screen and (max-width: 992px) {
  .category-item {
    margin: 0px 30px 0px 30px;
  }
}
@media screen and (max-width: 768px) {
  .category-link {
    font-size: 12px;
  }
  .category-icon-1 {
    width: 40px;
    height: 40px;
  }
  .category-icon-2 {
    width: 40px;
    height: 40px;
  }
  .category-icon-3 {
    width: 71px;
    height: 40px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 580px) {
  .category-list {
    padding: 0 10px;
  }
  .category-item {
    margin: 0px 15px 0px 15px;
  }
  .category-icon {
    margin-right: 7px;
  }
  .category-icon-1 {
    width: 36px;
    height: 36px;
  }
  .category-icon-2 {
    width: 36px;
    height: 36px;
  }
  .category-icon-3 {
    width: 61px;
    height: 36px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 580px) {
  .category-link {
    text-align: center;
  }
  .category-icon {
    margin-right: 0;
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .category-icon-3 {
    margin-bottom: 0;
    margin-top: 6px;
  }
  .category-link__content-3 {
    margin-bottom: 1px;
  }
}
.homepage-info__heading {
  text-align: center;
  max-width: 552px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
}
.homepage-info__buttons {
  padding: 0 50px;
  margin-bottom: 80px;
}
.homepage-info__btn {
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.homepage-info__btn:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}
.homepage-info__icon {
  margin: auto;
  display: block;
  position: relative;
}
.homepage-info__icon-1 {
  background: url("images/homepage/info-icon-1.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 220px;
  height: 220px;
}
.homepage-info__icon-2 {
  background: url("images/homepage/info-icon-2.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 220px;
  height: 220px;
}
.homepage-info__icon-3 {
  background: url("images/homepage/info-icon-3.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 220px;
  height: 220px;
}
.homepage-info__icon-4 {
  background: url("images/homepage/info-icon-4.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 220px;
  height: 220px;
}
.homepage-info__btn-text {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.homepage-banner img {
  width: 100%;
}
.homepage-business {
  padding: 55px 0 90px;
}
.homepage-business .h1 {
  margin-bottom: 40px;
}
.homepage-business__img {
  margin-bottom: 25px;
}
.homepage-business__img img {
  width: 100%;
}
.homepage-business__content-wrap {
  width: 100%;
}
.homepage-business__icon {
  min-width: 50px;
}
.homepage-business__icon-home {
  background: url("images/general-icons/home.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 48px;
  height: 40px;
}
.homepage-business__icon-globus {
  background: url("images/general-icons/globus.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 39px;
  height: 48px;
}
.homepage-business__content {
  padding-left: 25px;
  min-height: 176px;
  padding-bottom: 50px;
  position: relative;
}
.homepage-business__subtitle {
  color: #0090d2;
  margin-bottom: 30px;
}
.homepage-business__text {
  margin-bottom: 40px;
}
.homepage-business__btn-wrap {
  position: absolute;
  bottom: 15px;
  left: 25px;
}
.homepage-career {
  padding-top: 53px;
  padding-bottom: 70px;
}
.homepage-career__content-wrap {
  margin-bottom: 40px;
}
.homepage-career__content-wrap .section__content {
  max-width: 92%;
}
.homepage-career__btn-wrap {
  margin-top: 30px;
}
.homepage-career__group-logo {
  position: relative;
  background: url("images/general-icons/oasis-sm.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 81px;
  height: 54px;
}
.homepage-career__separator {
  height: 1px;
  width: 100%;
  background-color: #adadad;
  margin: 20px 0;
}
.section-logos__small {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.homme__logo {
  background: url("images/general-icons/oasis-homme.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 71px;
  height: 30px;
}
.medical__logo {
  background: url("images/general-icons/oasis-medical.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 82px;
  height: 29px;
}
.spa__logo {
  background: url("images/general-icons/oasis-spa.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 62px;
  height: 35px;
}
.beauty__logo {
  background: url("images/general-icons/oasis-beauty.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 68px;
  height: 35px;
}
.florist__logo {
  background: url("images/general-icons/oasis-florist.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 79px;
  height: 37px;
}
.h2o__logo {
  background: url("images/general-icons/h2o.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 54px;
  height: 32px;
}
.glycel__logo {
  background: url("images/general-icons/glycel.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 78px;
  height: 24px;
}
.erno__logo {
  background: url("images/general-icons/erno.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 46px;
  height: 36px;
}
.eurobeauty__logo {
  background: url("images/general-icons/eurobeauty.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 120px;
  height: 32px;
}
@media screen and (max-width: 1200px) {
  .homepage-info__icon-1,
  .homepage-info__icon-2,
  .homepage-info__icon-3,
  .homepage-info__icon-4 {
    width: 160px;
    height: 160px;
  }
  .homepage-info__icon-1 .homepage-info__btn-text,
  .homepage-info__icon-2 .homepage-info__btn-text,
  .homepage-info__icon-3 .homepage-info__btn-text,
  .homepage-info__icon-4 .homepage-info__btn-text {
    bottom: 27px;
  }
}
@media screen and (max-width: 992px) {
  .homepage-info__icon-1,
  .homepage-info__icon-2,
  .homepage-info__icon-3,
  .homepage-info__icon-4 {
    width: 130px;
    height: 130px;
  }
  .homepage-info__btn-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .homepage-info__heading {
    margin-bottom: 50px;
  }
  .homepage-info__buttons {
    margin-bottom: 50px;
  }
  .homepage-info__icon-1,
  .homepage-info__icon-2,
  .homepage-info__icon-3,
  .homepage-info__icon-4 {
    width: 100px;
    height: 100px;
  }
  .homepage-info__btn-text {
    font-size: 12px;
    bottom: 18px;
  }
  .homepage-business {
    padding: 55px 0 20px;
  }
  .homepage-business__item {
    margin-bottom: 40px;
  }
  .homepage-business__content {
    min-height: auto;
    padding-bottom: 0;
  }
  .homepage-business__text {
    margin-bottom: 20px;
  }
  .homepage-business__btn-wrap {
    position: relative;
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 580px) {
  .homepage-info__btn {
    margin-bottom: 25px;
  }
}
.about-us__main {
  padding: 60px 0;
}
.about-us__content {
  margin-bottom: 40px;
}
.about-us__content .section__heading {
  margin-bottom: 40px;
}
.about-us__img-wrap {
  text-align: center;
}
.about-us__logo {
  background: url('images/about-us/logo.png') no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 334px;
  height: 225px;
  margin: auto;
}
.about-us__img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
  .category-item {
    margin: 0px 30px 0px 30px;
  }
}
@media screen and (max-width: 580px) {
  .about-us__logo {
    width: 280px;
    height: 225px;
  }
}
@media screen and (max-width: 580px) {
  .about-us__main {
    padding: 60px 0 30px;
  }
}
.corporate-details__item {
  height: 380px;
  position: relative;
  margin-bottom: 70px;
}
.corporate-details__item:after {
  display: block;
  content: "";
  margin: 35px auto;
  width: 93%;
  height: 1px;
  background-color: #4d4d4d;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
}
.corporate-details__img {
  width: 100%;
  height: 190px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
}
@media screen and (max-width: 580px) {
  .corporate-details__item {
    height: auto;
    margin-bottom: 50px;
  }
}
.management {
  padding: 50px 0 60px;
}
.management-1 {
  background-color: #0090d2;
}
.management__list {
  padding: 0;
}
.management__list-item {
  position: relative;
  margin-bottom: 25px;
}
.management__list-item:hover .management__item-text,
.management__list-item:focus .management__item-text {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.management__item-img {
  width: 100%;
  max-height: 182px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.management__item-img img {
  width: 100%;
}
.management__item-text {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 1.3;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 81%;
  height: 81%;
  max-height: 95%;
  background-color: rgba(102, 102, 102, 0.8);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.management__item-name {
  margin-bottom: 30px;
  font-weight: 500;
}
.management__item-desc {
  font-weight: 300;
}
.management-2 {
  border-bottom: 1px solid #adadad;
}
.management-2 .management__item-name {
  margin-bottom: 0;
}
.management-2 .management__item-desc {
  font-weight: 500;
}
.management-3 .section__heading {
  color: #0090d2;
}
.management-3 .management__item-desc {
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .management__item-name {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .management__item-text {
    font-size: 12px;
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 768px) {
  .management__list {
    padding: 0 15px;
  }
}
.strategy {
  padding: 66px 0;
}
.strategy-info__section-heading {
  color: #0090d2;
  text-align: center;
}
.strategy-info__item {
  height: 565px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.strategy-info__item-title {
  height: 65px;
  background-color: #0090d2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.strategy-info__title-icon {
  display: inline-block;
  margin: 0 15px;
}
.strategy-info__title-icon-1 {
  background: url("images/general-icons/home-white.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 47px;
  height: 39px;
}
.strategy-info__title-icon-2 {
  background: url("images/general-icons/globus-white.svg") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 39px;
  height: 47px;
}
.strategy-info__title-text {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0 15px;
}
.strategy-info__item-body {
  border: 1px solid #d3d3d3;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 500px;
  padding: 30px 0;
}
.strategy-info__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.strategy-info__item-logo {
  margin: 0 15px;
}
.strategy__logo-oasis {
  background: url("images/strategy/oasis.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 245px;
  height: 89px;
}
.strategy__logo-medical {
  background: url("images/strategy/medical.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 99px;
  height: 17px;
}
.strategy__logo-spa {
  background: url("images/strategy/spa.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 40px;
  height: 25px;
}
.strategy__logo-beauty {
  background: url("images/strategy/beauty.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 67px;
  height: 38px;
}
.strategy__logo-homme {
  background: url("images/strategy/homme.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 72px;
  height: 22px;
}
.strategy__logo-health {
  background: url("images/strategy/health.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 67px;
  height: 22px;
}
.strategy__logo-nail {
  background: url("images/strategy/nail.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 33px;
  height: 21px;
}
.strategy__logo-florist {
  background: url("images/strategy/florist.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 113px;
  height: 56px;
}
.strategy__logo-glycel-sm {
  background: url("images/strategy/glycel-sm.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 211px;
  height: 56px;
}
#footer {
  padding: 60px 0;
  height: 270px;
  color: #fff;
  background-color: #0090d2;
}
.footer__address-wrap {
  margin-bottom: 25px;
}
.footer__address-subheading {
  margin-bottom: 26px;
}
@media screen and (max-width: 768px) {
  #footer {
    padding: 60px 0 40px;
    height: auto;
    font-size: 12px;
  }
}
