.main{
  max-width: 100%;
  overflow: hidden;
}

.button{
  font-size: 14px;
  color: @colorBlue;
  text-align: center;
  padding: 15px 48px;
  border: 1px solid #000;
  text-decoration: none;
  .transition(0.3s all ease);
  &:hover,
  &:focus,
  &:active{
    background-color: #eee;
    text-decoration: none;
  }
}