@Din: 'DIN', sans-serif;

@baseFontFamily: @Din;
@baseFontSize: 14px;
@baseLineHeight: 1.2;
@textColor: #000;
@bodyBackground: #fff;

@colorBlue: #0090d2;

// root
@rootUrl: "images/";
@rootUrlFonts: "../fonts/";
