//general rules

.slick__slider{
  //margin: 0 -15px;
  .slick-dots {
    bottom: -40px;
    li{
      &.slick-active{
        button{
          background-color: @colorBlue;
        }
      }
    }
    button {
      background-color: #949494;
      .square(15px);
      .border-radius(50%);
      .transition(0.3s all ease);
      &:before{
        display: none;
      }
    }
  }
  .slick-arrow{
    width: 30px;
    height: 54px;
    padding: 25px; /* Arrow size */
    margin: auto 0;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
    box-shadow: 1px -1px 0 1px white inset;
    -webkit-box-shadow: 2px -2px white inset;
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    z-index: 50;
    top: 0;
    bottom: 0;
    &:before{
      display: none;
    }
    &.slick-prev{
      left: 25px;
      -webkit-transform: rotate(45deg) scale(0.8);
      transform: rotate(45deg) scale(0.8);
      &:hover,
      &:focus,
      &:active{
        -webkit-transform: rotate(45deg) scale(1.0);
        transform: rotate(45deg) scale(1.0);
      }
    }
    &.slick-next {
      right: 25px;
      -webkit-transform: rotate(225deg) scale(0.8);
      transform: rotate(225deg) scale(0.8);
      &:hover,
      &:focus,
      &:active {
        -webkit-transform: rotate(225deg) scale(1.0);
        transform: rotate(225deg) scale(1.0);
      }
    }
  }
}

.slick-slide{
  outline: none ;
}

.slick__item{
  outline: none;
  .transition(0.3s all ease);
  font-family: @baseFontFamily !important;
  //margin-bottom: 20px;
}


//Homepage Slider

.homepage__slider {
  margin-bottom: 100px !important;
  img {
    width: 100%;
  }
}


//corporate slider

.corporate__slider{
  margin-top: 5px;
  margin-bottom: 100px !important;
  .slick__item{
    padding: 0 20px;
    position: relative;
  }
}

.corporate__slider-content-wrap{
  position: absolute;
  //left: 59%;
  right: 40px;
  bottom: 70px;
  line-height: 1.5;
  max-width: 395px;
  z-index: 10;
}

.corporate__slider-content-title{
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 30px;
}

.corporate__slider-content{
  font-weight: 300;
  font-size: 18px;
}

//Brands slider
.brands__slider-for{
  margin-bottom: 22px;
}

.brands__slider-nav{
  .slick-list{
    padding: 0 !important;
  }
  .slick-track{
    margin-left: 0 !important;
  }
}

.brands__slider-nav-item{
  .square(84px) !important;
  margin-right: 10px;
}

@media  screen and (max-width: 992px) {
  .corporate__slider .slick__item {
    max-width: 100vw;
    padding: 0 10px;
  }
  .corporate__slider-content-wrap{
    max-width: 342px;
    //left: 53%;
    right: 35px;
    bottom: 47px;
  }
  .corporate__slider-content-title{
    font-size: 40px;
  }
  .corporate__slider-content{
    font-size: 15px;
  }
}

@media  screen and (max-width: 768px) {
  .homepage__slider {
    margin-bottom: 70px !important;
  }
  .corporate__slider .slick__item {
    overflow: hidden;
  }
  .slick__slider{
    .slick-arrow{
      height: 35px;
      padding: 15px;
      border-width: 0 0 1rem 1rem;
      &.slick-next{
        right: 15px;
      }
      &.slick-prev{
        left: 15px;
      }
    }
  }
  .corporate__slider-content-wrap {
    max-width: 234px;
    //left: 53%;
    right: 25px;
    bottom: 32px;
    overflow: hidden;
  }
  .corporate__slider-content-title{
    font-size: 25px;
    margin-bottom: 15px;
  }
  .corporate__slider-content{
    font-size: 12px;
  }
}

@media  screen and (max-width: 580px) {
  .corporate__slider-content-wrap {
    max-width: 209px;
    bottom: 10px;
  }
  .corporate__slider-content-title{
    font-size: 25px;
    margin-bottom: 15px;
  }
  .corporate__slider-content{
    font-size: 12px;
  }
}

@media  screen and (max-width: 480px) {
  .corporate__slider-content-wrap {
    max-width: 201px;
    bottom: 10px;
    right: 5px;
  }
  .corporate__slider-content-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .corporate__slider-content {
    font-size: 11px;
  }
}

@media  screen and (max-width: 420px) {
  .corporate__slider-content-wrap {
    display: none;
  }
}