.strategy{
  padding: 66px 0;
}

.strategy-info{

}

.strategy-info__section-heading{
  color: @colorBlue;
  text-align: center;
}

.strategy-info__item{
  height: 565px;
  .border-radius(4px);
}

.strategy-info__item-title{
  height: 65px;
  background-color: @colorBlue;
  .border-radius(4px);
}

.strategy-info__title-icon{
  display: inline-block;
  margin: 0 15px;
}

.strategy-info__title-icon-1{
  background: url("@{rootUrl}general-icons/home-white.svg")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(47px, 39px);
}

.strategy-info__title-icon-2{
  background: url("@{rootUrl}general-icons/globus-white.svg")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(39px, 47px);
}

.strategy-info__title-text{
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0 15px;
}

.strategy-info__item-body{
  border: 1px solid #d3d3d3;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 500px;
  padding: 30px 0;
}

.strategy-info__item-row{
  .display-flex();
  .ai-flex-center();
}

.strategy-info__item-logo{
  margin: 0 15px;

}

.strategy__logo-oasis{
  background: url("@{rootUrl}strategy/oasis.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(245px, 89px);
}

.strategy__logo-medical{
  background: url("@{rootUrl}strategy/medical.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(99px, 17px);
}

.strategy__logo-spa{
  background: url("@{rootUrl}strategy/spa.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(40px, 25px);
}

.strategy__logo-beauty{
  background: url("@{rootUrl}strategy/beauty.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(67px, 38px);
}

.strategy__logo-homme{
  background: url("@{rootUrl}strategy/homme.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(72px, 22px);
}

.strategy__logo-health{
  background: url("@{rootUrl}strategy/health.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(67px, 22px);
}

.strategy__logo-nail{
  background: url("@{rootUrl}strategy/nail.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(33px, 21px);
}

.strategy__logo-florist{
  background: url("@{rootUrl}strategy/florist.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(113px, 56px);
}

.strategy__logo-glycel-sm{
  background: url("@{rootUrl}strategy/glycel-sm.png")no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  .size(211px, 56px);
}